# Data Acquisition in Python

---

### Essential Libraries

Let us begin by importing the essential Python Libraries.

> NumPy : Library for Numeric Computations in Python  
> Pandas : Library for Data Acquisition and Preparation

In [1]:
"""
NumPy   : Handles the heavy lifting of math and numbers
Pandas  : Provides us the DataFrame, which is a friendly, 
          spreadsheet-like table to organize data
"""
# Basic Libraries
import numpy as np
import pandas as pd

In [2]:
"""
Checking package versions, which is crucial for reproducibility. 
Note that some packages may need other specific versions. 
(E.g. pandas 2.0 may need numpy 1.xx and above etc.)
"""
# Print library package version
print("numpy version = "+np.__version__)
print("pandas version = "+pd.__version__)

numpy version = 1.26.4
pandas version = 2.3.0

---

### Pandas Dataframe

The `pandas` library in Python offers an amazing data structure for data science -- the `DataFrame`.    
It is pretty close to a `dictionary`, and we will start by creating a `DataFrame` from `dictionary`.

In [3]:
# Recall that in Python we initialize a dictionary as --> dictionary = {key : value}
canteens_dict = {"Name"     : ["North Spine", "Koufu", "Canteen 9", "North Hill", "Canteen 11"],
                 "Stalls"   : [20,              15,         10,         12,             8],
                 "Rating"   : [4.5,             4.2,        4.0,        3.7,            4.2]}

# Keys --> Column Headers | Values --> Column Data (rows)
canteens_df = pd.DataFrame(canteens_dict)
canteens_df
# Numbers on the far left are the Index (automatic row labels)

          Name  Stalls  Rating
0  North Spine      20     4.5
1        Koufu      15     4.2
2    Canteen 9      10     4.0
3   North Hill      12     3.7
4   Canteen 11       8     4.2

It is super simple to access the columns of the `DataFrame` -- directly use the column names.

In [4]:
"""
Think of the DataFrame as a dictionary. 
We can get the 'key'/column name, and get the list of values
"""
canteens_df["Name"]

0    North Spine
1          Koufu
2      Canteen 9
3     North Hill
4     Canteen 11
Name: Name, dtype: object

You may also extract a single record or row from a `DataFrame` -- use `iloc` with the index.

In [5]:
"""
iloc: Integer LOCation
Recall that Python is 0-indexed --> iloc[0] gets the first row
"""
canteens_df.iloc[0]

Name      North Spine
Stalls             20
Rating            4.5
Name: 0, dtype: object

Thus, a Pandas `DataFrame` is really like a table, with structured data accessible in two ways.

---

### Import CSV file into a DataFrame

If the dataset is in a standard CSV format (flat file), we may use the `read_csv` function from Pandas.

In [6]:
"""
By default, Pandas assumes the first row of the .csv file contains labels (e.g. Age, Height, etc.)
If we didn't use header=None, Pandas would use the first row of data as column names
"""
csv_data = pd.read_csv('data/somedata.csv', header = None)
csv_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [7]:
print("Data type : ", type(csv_data))
print("Data dims : ", csv_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

In [8]:
"""
Demonstration of not using header=None
"""
csv_data = pd.read_csv('data/somedata.csv')
csv_data.head()

,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59,37.3,21.9,32,27.4,17.1
0,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
1,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
2,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
3,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
4,6,20.6,20.9,1.0502,24,210.25,74.75,26.5,167.0,39.0,104.5,94.4,107.8,66.0,42.0,25.6,35.7,30.6,18.8

---

### Import TXT file into a DataFrame

If the dataset is in a standard TXT format (flat file), we may use the `read_table` function from Pandas.

In [9]:
"""
Text files don't always use commas, they may use tabs, spaces, or pipes (|) as separators
Therefore, we need to tell Pandas what separates the data points
\s+ is a Regular expression (Regex) --> Look for any amount of whitespace and treat it as a divider/separator 
"""
txt_data = pd.read_table('data/somedata.txt', sep = "\s+", header = None)
txt_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [10]:
print("Data type : ", type(txt_data))
print("Data dims : ", txt_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

In [11]:
"""
Unlike .csv files, Excel files (.xlsx) are complex binary files, we need a decoder
That's why we need xlrd or openpyxl as helper libaries to decode the Excel format so Pandas can read it
"""
import xlrd

---

### Import XLS file into a DataFrame

If the dataset is in a Microsoft XLS or XLSX format, we may use the `read_excel` function from Pandas.    
However, to use the `read_excel` function, you will need to install the `xlrd/openpyxl` module using Anaconda.

In [12]:
"""
Excel files are 3-D (Rows x Columns x Sheets)
We need to specify the sheet_name, or Pandas will default to the first sheet
"""
xls_data = pd.read_excel('data/somedata.xlsx', sheet_name = 'Sheet1', header = None)
xls_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [13]:
print("Data type : ", type(xls_data))
print("Data dims : ", xls_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

---

### Import JSON file into a DataFrame

If the dataset is in a standard JSON format, we may use the `read_json` function from Pandas.

In [14]:
"""
Json is like a nested tree or dictionary
Very common data --> If we get data via an API, likely will come in a .json format
Pandas is clever enough to flatten json files into tables
"""
json_data = pd.read_json('data/somedata.json')
json_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,12.6,12.3,1.0708,23,154.25,67.75,23.7,134.9,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,6.9,6.1,1.0853,22,173.25,72.25,23.4,161.3,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,24.6,25.3,1.0414,22,154.00,66.25,24.7,116.0,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,10.9,10.4,1.0751,26,184.75,72.25,24.9,164.7,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,27.8,28.7,1.0340,24,184.25,71.25,25.6,133.1,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [15]:
print("Data type : ", type(json_data))
print("Data dims : ", json_data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (252, 19)

---

### Import HTML table into a DataFrame

If the dataset is in a table formal within an HTML website, we may use the `read_html` function from Pandas.    
Let's try to get the Cast of Kung-Fu Panda : http://www.imdb.com/title/tt0441773/fullcredits/?ref_=tt_ov_st_sm

In [16]:
import html5lib
html5lib.__version__
import requests
requests.__version__

'2.32.4'

In [17]:
import bs4
from bs4 import BeautifulSoup
bs4.__version__

'4.13.4'

In [18]:
"""
Many websites have security against bots or automated scripts
Therefore, we need a "diguise" (User-Agent) to "trick" the server into letting us in --> Pretend we are a website
"""

import requests
url = 'https://pro.imdb.com/title/tt0441773?rf=cons_ttfc_pu&ref_=cons_ttfc_pu'

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'}

try:
    response = requests.get(url, headers=headers)
    response.raise_for_status() # Raise an exception for bad status codes
    # Scans the html code for the <table> tag --> return list of DataFrames
    html_data = pd.read_html(response.text,header=0)

except requests.exceptions.RequestException as e:
    print(f"A requests error occurred: {e}")
except Exception as e:
    print(f"An error occurred during HTML parsing: {e}")
response = requests.get(url, headers=headers)

C:\Users\dsp\AppData\Local\Temp\ipykernel_13716\2466726937.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  html_data = pd.read_html(response.text,header=0)

In [19]:
print("Data type : ", type(html_data))
print("HTML tables : ", len(html_data))

Data type :  <class 'list'>
HTML tables :  2

In [20]:
# Contains the first table found
html_data[0]

              Cast  + Add Cast
0  27 cast members         NaN

In [21]:
# Contains the detailed cast lsit that we want
html_data[1]

,Name,Known for
0,Jack Black Po (voice) Po (voice) See fewer,School of Rock (2003)
1,Dustin Hoffman Shifu (voice) Shifu (voice) S...,Tootsie (1982)
2,Angelina Jolie Tigress (voice) Tigress (voice...,Maleficent (2014)
3,Ian McShane Tai Lung (voice) Tai Lung (voice)...,Deadwood (2004)
4,Jackie Chan Monkey (voice) Monkey (voice) Se...,Who Am I? (1998)
5,Seth Rogen Mantis (voice) Mantis (voice) See...,This Is the End (2013)
6,Lucy Liu Viper (voice) Viper (voice) See fewer,Charlie's Angels (2000)
7,David Cross Crane (voice) Crane (voice) See ...,Arrested Development (2003)
8,Randall Duk Kim Oogway (voice) Oogway (voice)...,Dragonball Evolution (2009)
9,James Hong Mr. Ping (voice) Mr. Ping (voice) ...,Everything Everywhere All at Once (2022)
10,Dan Fogler Zeng (voice) Zeng (voice) See fewer,Fantastic Beasts and Where to Find Them (2016)
11,Michael Clarke Duncan Commander Vachir (voice)...,The Green Mile (1999)
12,Wayne Knight Gang Boss (voice) Gang Boss (voi...,Jurassic Park (1993)
13,Kyle Gass KG Shaw (voice) KG Shaw (voice) Se...,Tenacious D in the Pick of Destiny (2006)
14,JR Reed JR Shaw (voice) JR Shaw (voice) See ...,Black-ish (2014)
15,Laura Kightlinger Awed Ninja (voice) Awed Nin...,Curb Your Enthusiasm (2000)
16,Tanya Haden Smitten Bunny (voice) Smitten Bun...,The Muppets (2011)
17,Stephen Kearin Gong Pig / Grateful Bunny (voic...,Megamind (2010)
18,Mark Osborne Pig Patron (voice) Pig Patron (v...,The Little Prince (2015)
19,John Stevenson Rhino Guard (voice) Rhino Guar...,Middle Watch (2022)
20,Jeremy Shipp Blind Gator (voice) Blind Gator ...,Kung Fu Panda 2 (2011)
21,Melissa Cobb Bunny Mom (voice) Bunny Mom (voi...,Kung Fu Panda 2 (2011)
22,Kent Osborne Pig Fan (voice) Pig Fan (voice) ...,Adventure Time (2010)
23,Emily Burns Bunny Fan 1 (voice) Bunny Fan 1 (...,Kung Fu Panda (2008)
24,Stephanie Harvey Bunny Fan 2 (voice) Bunny Fa...,Kung Fu Panda (2008)
25,Riley Osborne Baby Tai Lung (voice) Baby Tai ...,The Little Prince (2015)
26,Sheb Wooley Screaming Guard (archive sound) (u...,Rawhide (1959)